@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Unitec<br />
    Carrington Rd, Mount Albert, Auckland 1025<br />
    <abbr title="Phone">P:</abbr>
    (09)-123 4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@QualityCaps.co.nz">Support@QualityCaps.co.nz</a><br />
</address>